
/*spacers*/
#spacerTop1{
height: 40vh;
}
#spacerBottom1{
height: 50vh;
}
#spacerBottom2{
    height:70vh;
}
#spacerBottom3{
    height: 80vh;
}
#spacerBottom4{
    height: 20vh;
}
.genericSpacer{
    height:10vh;
}
.smallSpacer{
    height:1vh;
}
/*font colors*/
h1{
color: #6F2378;
}
.bizFont{
    color: #6F2378;
}
/*font colors for contact section specifically*/
.bizFont textarea, input, ::placeholder{
    color: #6F2378;
}

/*I refuse to let chrome's autofill dictate my aesthetic - font colors continued*/
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #6F2378;
   
}
input:-webkit-autofill{
    -webkit-text-fill-color: #6F2378 !important;
    }


/*styling for about*/
.section p{
   /* color: #8e2b99;*/
   color: rgb(22, 4, 4);
}
.section figcaption{
    color: #6F2378;
}
#headshot{
    border: none;
    border-radius: 50%;
    margin-left: 15%;
}
.aboutText{
    margin-top: auto;
}
/*styling for portfolio*/
.projectIMG{
    display: inline !important;
    padding-right: 2vh;
}
#portIcons{
    margin-top:7vh;
}
#Portfolio{
    font-size: 11vh;
}
.fiximg-circle{
    border: none;
    border-radius: 50%;
}


/*Hover text for portfolio icons */
.iconBox{
    display: inline-block;
    vertical-align: top;
    padding-right: 8vw;
    position: relative;
    height: 112px;
    width: 140px;
    border: none;
    border-radius: 50%;
}
.iconBoxText{
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 12vw;
    text-align: left;
    visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}
.iconBox:hover .iconBoxText{
    visibility: visible;
    opacity: 1;
}
.projectIMG:hover{
    opacity: .2;
}


/*stying for connect and contact*/
.ccFormat{
    display: inline !important;
}
Ul{
    list-style-type: none;
}
#connectUl{
    margin:0;
    padding: 0;;
}
.connectLI{
    display: inline !important;
    margin:0;
    padding-right:1vw;
}
.connectLI a:hover{
    opacity: 50%;
}
.img-circle{
    height: 112px;
    width: 140px;
}
#message{
    height: auto;
    width: auto;
}
.moveContact{
    display: inline-block;
    text-align: left;
}
#contactBreak{
    line-height: -1vh;
}


textarea{
    border-color: #6F2378;
}
/*nav bar styling*/
.nav a{
    color: #6F2378;
    opacity: 50%;
}
.nav a:hover{
    font-weight: bold;
}
.nav{
position: fixed;
right: 0;
z-index: 1;
}
/*footer styling*/
#footer{
    width: 100%;
    height: 5vh;
    border-style: solid;
    border-color: #6F2378;
    background-color: #6F2378;
}
#footer p{
    color: whitesmoke;
    margin-top: 1vh;
}
